﻿.btn-info {
    background-color: #55acee; /**/
}

.btn-sm, .btn-group-sm > .btn {
    margin-top: 3px;
    padding: 6px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 10px;
}

.form-control {
    height: 30px !important;
}

.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 0px;
}

.lbl_modal {
    font-family: 'Roboto Regular';
    font-size: 13px;
    font-weight: 400;
    color: #333333 !important;
}

.espacio_filas {
    margin-top: 15px;
}

.form-control {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    min-width: 50px !important;
}

.page-header {
    border-bottom: 2px solid #808080;
}

.table-striped {
    background-color: #fbf5f5;
}

.table-hover > tbody > tr:hover {
    background-color: #fdf2de; /*#fdf4e4*/
}

.fixed-table-container thead th .th-inner {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
}

.fixed-table-footer table tr td {
    font-family:Calibri !important;
    background-color: #55acee !important;
    color: white !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.fixed-table-header table tr th {
    background-color: #55acee !important;
    color: white !important;
    padding: 3px 3px;
}

.fixed-table-body table tbody tr td {
    font-size: 11px !important;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.fixed-table-container {
    background-color: #fff !important;
}

.table thead tr th{
    background-color: #55acee/*#cc3f44*/ !important; /**/
    color: white !important;
    padding: 3px 3px;
}

.panel-heading a:after {
    /*font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: white;*/
}

.panel-heading a.collapsed:after {
    /*content: "\e080";*/
}

.panel-heading a {
    /*font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    padding: 7px 10px;
    display: inline-block;
    width: 100%;
    background-color: #333333 !important;
    color: #ffffff !important;
    position: relative;
    text-decoration: none;*/
}

    .panel-heading a.collapsed {
        color: #ffffff;
        background-color: #333333;
    }

    .panel-heading a:hover {
        text-decoration: none;
        background-color: #333333;
        color: #ffffff;
    }

.panel-body {
    background-color: white !important;
}

.panel-footer {
    background-color: white;
    /*border-bottom: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
    border-right: solid 1px #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.btn.text-left {
    text-align: left;
}

.btn.text-right {
    text-align: right;
}

.btn:active,
.btn:focus {
    outline: none !important;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.08);
}

.btn + .btn {
    margin-left: 5px;
}

    .btn + .btn.btn-block {
        margin-left: 0;
    }

.btn.btn-single {
    margin-bottom: 0;
}

.btn.btn-icon {
    line-height: 1;
}

    .btn.btn-icon i {
        vertical-align: middle;
        display: inline-block;
        padding: 5px 0;
    }

    .btn.btn-icon span {
        display: inline-block;
    }

.btn.btn-icon-standalone {
    padding: 0;
    border: 0;
    line-height: 1;
}

    .btn.btn-icon-standalone i,
    .btn.btn-icon-standalone span {
        display: block;
        padding: 12px 12px;
    }

    .btn.btn-icon-standalone i {
        border-right: 1px solid transparent;
        float: left;
    }

    .btn.btn-icon-standalone span {
        padding-left: 55px;
        padding-right: 13px;
    }

    .btn.btn-icon-standalone.btn-icon-standalone-right i {
        float: right;
        border-left: 1px solid transparent;
        border-right: 0;
    }

    .btn.btn-icon-standalone.btn-icon-standalone-right span {
        padding-left: 13px;
        padding-right: 55px;
    }

    .btn.btn-icon-standalone.btn-lg i,
    .btn.btn-icon-standalone.btn-lg span {
        padding: 8px 16px;
    }

    .btn.btn-icon-standalone.btn-lg span {
        padding-left: 55px;
    }

    .btn.btn-icon-standalone.btn-lg.btn-icon-standalone-right span {
        padding-left: 17px;
        padding-right: 75px;
    }

    .btn.btn-icon-standalone.btn-sm i,
    .btn.btn-icon-standalone.btn-sm span {
        padding: 8px 10px;
    }

    .btn.btn-icon-standalone.btn-sm span {
        padding-left: 50px;
    }

    .btn.btn-icon-standalone.btn-sm.btn-icon-standalone-right span {
        padding-left: 12px;
        padding-right: 50px;
    }

    .btn.btn-icon-standalone.btn-xs i,
    .btn.btn-icon-standalone.btn-xs span {
        padding: 5px 5px;
    }

    .btn.btn-icon-standalone.btn-xs span {
        padding-left: 34px;
    }

    .btn.btn-icon-standalone.btn-xs.btn-icon-standalone-right span {
        padding-left: 10px;
        padding-right: 34px;
    }

.btn.btn-secondary {
    background-color: #55acee;
    color: #ffffff;
}

    .btn.btn-secondary:active,
    .btn.btn-secondary:focus {
        background-color: #55acee;
        border-color: #55acee;
    }

.btn.btn-secondary {
    background-color:#76c0f9 /*#cc3f44*/; /**/
    color: #ffffff;
}

    .btn.btn-secondary:hover {
        background-color: #A72B2B;
        text-color: #ffffff;
    }

.btn.btn-icon-standalone {
    padding: 0;
    border: 0;
    line-height: 1;
}

.btn.btn-icon {
    line-height: 1;
}

.btn.btn-secondary.btn-icon-standalone i {
    background-color: #55acee; /**/
    border-right-color: #55acee;
}

.btn.btn-secondary.btn-icon-standalone.btn-icon-standalone-right i {
    border-left-color: #55acee;
}

.btn.btn-secondary.btn-icon-standalone.btn-icon-standalone-right:hover i {
    border-left-color: #55acee;
}

.btn.btn-secondary.btn-icon-standalone:hover i {
    border-right-color: #55acee;
}

.edit {
    font-size: 13px !important;
    color: #55acee; 
}

    .edit:hover {
        color: #333333;
        text-shadow: 1px 1px 1px #fff, 3px 3px 5px white;
    }

.delete {
    font-size: 13px !important;
    color: #55acee*; /*55acee*/
}

    .delete:hover {
        color: crimson;
        text-shadow: 1px 1px 1px #fff, 3px 3px 5px white;
    }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.alert-danger {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    padding: 6px 0px 3px 10px;
}

    .alert-danger span {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding: 6px 0px 3px 2px;
        font-weight: 600;
        letter-spacing: 1px;
    }

:required {
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 120, 214,0.75);
    -moz-box-shadow: 2px 2px 53px 0px rgba(0, 120, 214,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0, 120, 214.75);
    /*background-color: #FFF0F5;*/
}

    :required:focus {
        border: 1px solid rgba(0, 120, 214, 1);
        outline: none;
    }

    :required:hover {
        opacity: 1;
    }

.vertical-align-label {
    margin-top: 8px !important;
}

.search input:first-of-type {
    min-width: 200px !important;
}

.text-medium {
    font-family: 'Roboto Regular';
    font-size: 12px;
    font-weight: 600;
}